.grid {
  display: grid;
  //grid-template-columns: 1fr 320px;
  gap: 16px;
  align-items: start;
}
.stats > div {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px dashed rgba(0,0,0,.12);
}
