<h2 mat-dialog-title>Detalhes da Caracterização</h2>
<mat-dialog-content>
  <div class="details-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descrição</mat-label>
      <textarea matInput [value]="data.description" readonly rows="5"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Notas</mat-label>
      <textarea matInput [value]="data.notes" readonly rows="5"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Fechar</button>
</mat-dialog-actions>
