<div class="wrap">
  @if (isLoadingCharacterizations()) {
  <div style="text-align: center; padding: 16px;">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  }

  <div class="left">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Caracterizações</mat-card-title>
        <button type="button" (click)="openCharacterizationModal()"
          [disabled]="isSavingCharacterization() || isLoadingCharacterizations()" class="add-btn">
          Nova Caracterização
        </button>
      </mat-card-header>

      <mat-card-content>
        @if (sheet.caracterizacoes.length > 0) {
        <table class="tbl">
          <thead>
            <tr>
              <th>Caracterização</th>
              <th>Custo</th>
              <th>Nivel</th>
              <th>Raro</th>
              <th>Inicio</th>
              <th>Permite Jogo</th>
              <th class="icon-col"></th>
              <th class="icon-col"></th>
            </tr>
          </thead>
          <tbody>
            @for (s of sheet.caracterizacoes; track s.id) {
            <tr>
              <td>{{s.nome}}</td>
              <td>{{s.custo}}</td>
              <td>{{s.nivel}}</td>
              <td>{{s.raro}}</td>
              <td>{{s.inicio}}</td>
              <td>{{s.permiteJogo}}</td>
              <td class="icon-col">
                <div class="actions-cell">
                  <button mat-icon-button  class="icon-btn" (click)="selectCharacterization(s)" [class.selected]="selected()?.id === s.id" title="Detalhe magia">
                    <mat-icon>help</mat-icon>
                  </button>
                </div>
              </td>
              <td class="icon-col">
                <button mat-icon-button (click)="deleteCharacterization(s.id)" class="icon-btn" title="Deletar magia">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
        } @else {
        <p class="empty-message">Nenhuma caracterização cadastrada</p>
        }
      </mat-card-content>

    </mat-card>
  </div>

  <div class="right">
    <mat-card>
      <mat-card-title>Detalhes</mat-card-title>

      <mat-card-content class="details">

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput [value]="selected()?.nome ?? ''" readonly />
        </mat-form-field>

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <input matInput [value]="selected()?.nomeTipo ?? ''" readonly />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Grupo</mat-label>
            <input matInput [value]="selected()?.nomeGrupo ?? ''" readonly />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Nível</mat-label>
          <input matInput [value]="selected()?.nivel ?? '-'" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <textarea matInput rows="8" [value]="selected()?.descricao ?? ''" readonly></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Notas</mat-label>
          <textarea matInput rows="4" [value]="selected()?.obs ?? ''" readonly></textarea>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
  </div>

</div>
